
@{
    ViewBag.Title = "Оплата";
}

<div class="row">
    <div class="col-md-12">
        <h2>Оплата</h2>
        <p>Здесь производится оплата</p>
        <p>@Html.ActionLink("Вернуться к покупкам", "Index")</p>
    </div>
</div>

