@{
    ViewBag.Title = "Храни сериалы в одном месте!";
}


<div class="jumbotron text-center">
    <h2>Добро пожаловать</h2>
    <h4>Сервис "Хранитель сериалов" позволяет в удобной форме запоминать, какая серия любимого сериала была просмотрена последней</h4>
    <h6>Выбирайте сериалы из списка или добавляйте свои!</h6>

    <a href="@Url.Action("Register", "Account")" class="btn btn-warning">Регистрация</a>
    <a href="@Url.Action("Login", "Account")" class="btn btn-success">Войти</a>
</div>

